<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travucket</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/visited">Countries Visited</a></li>
      <li><a href="/not-visited">Countries To Visit</a></li>
      <li><a href="/add-country">Add New Country</a></li>
    </ul>
    <section id="content">
    <%= yield %>
    </section>
  </body>
</html>
