<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travucket</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/nav-bar.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/country-card.css">
    <link rel="stylesheet" href="/styles/buttons&links.css">
    <script src="https://kit.fontawesome.com/87a1a764c7.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="nav-bar">
      <br><a href="/">Home</a>
      <br><a href="/visited">Countries Visited</a>
      <br><a href="/not-visited">Countries To Visit</a>
      <br><a href="/add-country">Add New Country</a>
    </div>
    <section id="content">
    <%= yield %>
    </section>
  </body>
</html>
