<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travucket</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/country.css">
    <link rel="stylesheet" href="/styles/buttons&links.css">
    <link rel="stylesheet" href="/styles/forms.css">
  </head>
  <body>
    <div class="nav-bar">
      <a href="/">Home</a>
      <a href="/visited">Countries Visited</a>
      <a href="/not-visited">Countries To Visit</a>
      <a href="/randomiser">Random Country</a>
      <a href="/add-country">Add New Country</a>
    </div>
    <section id="content">
    <%= yield %>
    </section>
  </body>
</html>
