<body class="body-forms">
<h1 class="header">Add New Sight</h1>
<h4 class="sub-title">~ Enter a sight to visit in <%= @city.name %> ~</h4>
<hr>
<br>
<div class="form-wrapper">

<form action="/add-sight/<%= @country.id %>" method="post">



  <div>
    <label for="name">Sight Name:</label>
    <input type="text" name="name"/>
  </div>

  <div>
    <label for="visited">Have you been yet?</label>
    <input type="radio" name="visited" value="true">Yes</input>
    <input type="radio" name="visited" value="false">No</input>
    <br>
    <br>
  </div>

  <input type="hidden" name="city_id" value="<%= @city.id %>"></input>

  <div>
    <input type="submit" value="Accept New Sight Details"/>
  </div>


</form>
