<h1>Add a new city to <%= @country.name %> </h1>
<form action="/add-city" method="post">

  <input name='country_id' type='hidden' value='<%= @country.id %>'>

  <div>
    <label for="name">City Name:</label>
    <input type="text" name="name"/>
  </div>

  <div>
    <label for="visited">Have you been yet?</label>
    <input type="radio" name="visited" value="true">Yes<br>
    <input type="radio" name="visited" value="false">No<br>
  </div>

  <div>
    <input type="submit" value="Add City"/>
  </div>


</form>
