<body class="body-forms">
<h1 class="header">Add New Country</h1>
<h4 class="sub-title">~ Enter your dream destination! ~</h4>
<hr>
<br>
<div class="form-wrapper">

  <form action="/add-country" method="post">
    <div>
      <label for="name">Country Name:</label>
      <input type="text" name="name"/>
    </div>
    <br>

    <div>
      <label for="visited">Have you been yet?</label>
      <input type="radio" name="visited" value="true">Yes</input>
      <input type="radio" name="visited" value="false">No</input>
      <br>
      <br>
    </div>
    <br>


    <div>
      <label for="picture">Enter picture URL (Landscape will work best) </label>
      <br>
      <input type="text" name="picture"  value=""/>
    </div>
    <br>
    <br>

    <div>
      <input type="submit" value="Confirm New Country Details"/>
    </div>

  </form>
