.country-buttons-bar {
  display: inline-flex;
  justify-content: center;
  height: auto;
  top: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  width: 100%;
}

.country-page-title {
  position: fixed;
  display: inline;
  background-size: stretch;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  top: 0;
  left: 0;
  z-index: -1;
}

.country-page {
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

input, .country-buttons-bar {
  margin: 10px;
}
