.country-page-background {
  position: fixed;
  display: inline;
  background-size: stretch;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

#city-wrapper {
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-content: space-between;
}

.city{
  color: #1B9AAA;
  background-color: #F5F1E3;
  display: inline-block;
  width: 200px;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
}
