.body-forms {
  background-color: #2B2B2B;
  margin: 0;
  background-size: contain;
}

.form-wrapper {
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #F5F1E3;
  justify-content: center;
  align-content: space-between;
  padding: 50px;
  margin-left: 350px;
  margin-right: 350px;
  box-shadow: 10px 10px;
}
