.body {
  margin: 0;
  background-image: url("../images/map2.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  background-color: black;
  background-position: bottom;
}

.header {
  text-align: center;
  width: 100%;
  top: 20px;
  color: white;
}

#country-wrapper {
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.country {
  color: #1B9AAA;
  background-color: #F5F1E3;
  display: inline-block;
  width: 200px;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
}

.sub-title {
  text-align: center;
  width: 100%;
  top: 20px;
  color: white;
  opacity: 0.7;
}

li {
  list-style-type: none;
}

h4 {
  color: #2B2B2B;
}

form {
  display: inline-block;
}

.country h1 {
  position: relative;
}
