* {
  font-family: sans-serif;
  box-sizing: content-box;
}

.nav-bar {
  display: inline-flex;
  justify-content: space-around;
  height: auto;
  top: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  list-style-type: none;
  width: 100%;
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

.nav-bar a:hover {
  transform: translateY(2px);
}
