.nav-bar {
  display: inline-flex;
  justify-content: space-around;
  background-color: black;
  height: auto;
  top: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  list-style-type: none;
  width: 100%;
}

.nav-bar a {
  text-decoration: none;
}
